.table_container {
  text-align: center;
  background: #FFFFFF;
  box-shadow: 16px 16px 16px 16px rgba(17, 17, 17, 0.06);
  width: 1500px;
  
}

.table_box {
  width: 90%;
  border-collapse: collapse;
  margin-top: 20px;
  align-items: center;
  padding-left: 2rem;
 
}

.table_box_form {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  width: 500px;
}

.table_box_group {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.table_box_form_field,
.table_box_form_select {
  width: 100px;
  margin-right: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.table_box_button {
  margin-left: 10px;
}

.table_box_table {
  width: 100%;
  margin-top: 20px;
}

.customTitleStyle{
  text-align: start;
}

.form_is_success {
  background-color: #49CD5E;
  color: #ffffff;
  height: 48px;
  display: flex;
  width: 100%;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
    }

.form_is_success label{
  padding-top: 10px;
}


@media screen and (min-device-width: 280px) and (max-device-width: 667px) {
  .table_container {
     width: 100%;
      text-align: center;
      background: #FFFFFF;
      box-shadow: 16px 16px 16px 16px rgba(17, 17, 17, 0.06);
      height: auto;
    }

    .react-bootstrap-table table {
      table-layout: auto !important;
    }
      
    .table_box {
      width: auto;
      border-collapse: collapse;
      margin-top: 2px;
       align-items: center;
       overflow: auto;
       overflow-x: scroll;
    }
    

    .table_box_form {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 10px;
      width: 350px;
    }
  
    .table_box_group {
      display: flex;
  flex-direction: row;
    }
  
    .table_box_form_field{
      width: 100px;
      display: flex;
      flex-direction: row;
    align-items: flex-start;
    }

    .table_box_form_select {
     display: none !important;
    }
  
    .toolbar_input_button {
      margin-left: 0;
      margin-top: 30px;
      /* width: 120px; */
    }

    .toolbar_input_btn_style{
      width: 120px;

    }

    .form_is_success{
      background-color: #49CD5E;
      color: #ffffff;
      flex-direction: column;
    width: 100%;
    height: auto;
    gap: 10px;
    
    }
  
    .form_is_success label{
      padding-top: 10px;
    }
    
}



@media screen and (min-device-width: 667px) and (max-device-width: 1280px) {
  .table_container {
     width: 100%;
      text-align: center;
      background: #FFFFFF;
      box-shadow: 16px 16px 16px 16px rgba(17, 17, 17, 0.06);
      height: auto;

    }

    .react-bootstrap-table table {
      table-layout: auto !important;
    }
    
    
    .table_box {
      width: 90%;
      border-collapse: collapse;
      margin-top: 2px;
       align-items: flex-start;
    overflow: auto;
    overflow-x: scroll;

    }
    

    .table_box_form {
      display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 500px;
    overflow: auto;
    overflow-x: scroll;
    }
  
  .table_box_group {
    display: flex;
    flex-direction: row;
  }
  
    .table_box_form_field{
      width: 90px;
      display: flex;
      flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    }

    .table_box_form_select {
     display: none !important;
    }
  
    .table_box_button {
      margin-left: 0;
      margin-top: 10px;
    }

    .form_is_success{
      background-color: #49CD5E;
      color: #ffffff;
      flex-direction: column;
      width: 100%;
      height: auto;
    
    }
  
    .form_is_success label{
      padding-top: 10px;
    }
    
}
