.table_container {
  text-align: center;
  background: #FFFFFF;
  box-shadow: 16px 16px 16px 16px rgba(17, 17, 17, 0.06);
  width: 1500px;
  
}

.table_box {
  width: 90%;
  border-collapse: collapse;
  margin-top: 20px;
  align-items: center;
  padding-left: 2rem;
 
}

.table_box_form {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  width: 500px;
}

.table_box_group {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.table_box_form_field,
.table_box_form_select {
  width: 100px;
  margin-right: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.table_box_button {
  margin-left: 10px;
}

.table_box_table {
  width: 100%;
  margin-top: 20px;
}

.customTitleStyle{
  text-align: start;
}


@media screen and (min-device-width: 280px) and (max-device-width: 667px) {
  .table_container {
     width: 100%;
      text-align: center;
      background: #FFFFFF;
      box-shadow: 16px 16px 16px 16px rgba(17, 17, 17, 0.06);
      height: auto;
    }

    .react-bootstrap-table table {
      table-layout: auto !important;
    }
    
    
    .table_box {
      width: auto;
      border-collapse: collapse;
      margin-top: 2px;
       align-items: center;
       overflow: auto;
       overflow-x: scroll;
    }
    

    .table_box_form {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 10px;
      width: 350px;
    }
  
    .table_box_group {
      display: flex;
  flex-direction: row;
    }
  
    .table_box_form_field,
    .table_box_form_select {
      width: 65px;
      /* margin-right: 0; */
      display: flex;
      flex-direction: row;
    align-items: flex-start;
    }
  
    .table_box_button {
      margin-left: 0;
      margin-top: 10px;
    }
    
}



@media screen and (min-device-width: 667px) and (max-device-width: 1180px) {
  .table_container {
     width: 100%;
      text-align: center;
      background: #FFFFFF;
      box-shadow: 16px 16px 16px 16px rgba(17, 17, 17, 0.06);
      height: auto;

    }

    .react-bootstrap-table table {
      table-layout: auto !important;
    }
    
    
    .table_box {
      width: 90%;
      border-collapse: collapse;
      margin-top: 2px;
       align-items: flex-start;
    overflow: auto;
    overflow-x: scroll;

    }
    

    .table_box_form {
      display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 500px;
    overflow: auto;
    overflow-x: scroll;
    }
  
  .table_box_group {
    display: flex;
    flex-direction: row;
  }
  
    .table_box_form_field,
    .table_box_form_select {
      width: 90px;
      display: flex;
      flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    }
  
    .table_box_button {
      margin-left: 0;
      margin-top: 10px;
    }
    
}
